.card-block {
    padding: 1rem;
}

.card-title {
    font-size: 1.2rem;
}

.page-title {
	margin: 1em;
}

h1 {
	font-size: 1.5rem;
}

.card {
}

.desc {
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: 0.5em;
}

.desc:empty {
	padding: 0em;
}

.summary {
	background-color: #e3e3e3;
}

.empty-list {
	padding: 1em;
}

body {
	font-size: 0.8rem;
}

.msg {
	display: none;
}